In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize

In [2]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [19]:
df = pd.read_csv("newCrash.csv")

In [20]:
df

,Unnamed: 0,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,latitude,longitude
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly...",38.896739,-77.072402
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,NaN,NaN
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...,48.428318,-123.364953
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...,NaN,NaN
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...,52.652967,13.639010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras...",-7.219097,112.161947
5264,5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...,NaN,NaN
5265,5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...,NaN,NaN
5266,5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...,52.843501,-56.227758
5267,5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...,NaN,NaN

In [13]:
nums = ["1","2","3","4","5","6","7","8","9","0"]

In [14]:
modal_verbs = ["can", "could", "need", "may", "able", "must", "have", "should", "ought","shall", "will","would", "used","to"]

In [15]:
punctuation = [".", ",","'", "!", "?",")","("]

In [16]:
def stop_words(w:str):
    if w in modal_verbs:
        return False
    elif w in stopwords.words('english'):
        return False
    elif w in punctuation:
        return False
    for elem in nums:
        if elem in w:
            return False
    else:
        return True

In [8]:
dct = {}
ps = PorterStemmer()
for elem in df["Summary"]:
    if  type(elem)!= float:
        elem = elem.replace(",", "")
        sentences = sent_tokenize(elem)
        for sent in sentences:
            sent = sent.replace("!", "")
            sent = sent.replace("?", "")
            for word in word_tokenize(sent):
                w = word.lower()
                if stop_words(w):
                    if w in dct.keys():
                        dct[w] += 1
                    else:
                        dct[w] = 1

NameError: name 'df' is not defined

In [ ]:
sort_dct = sorted(dct.items(), key=lambda x: x[1], reverse=True)

In [ ]:
len(sort_dct)

In [ ]:
words = {"Word":list(dct.keys()),"Count":list(dct.values())}

In [ ]:
words_df = pd.DataFrame(words)

In [ ]:
words_df.to_csv("words_count.csv")

In [17]:
words_df = pd.read_csv("words_count.csv")